<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="CoSoDuLieuTiemNet" connectionString="data source=.;initial catalog=QLTNET;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="CoSoDuLieuTiemNet1" connectionString="data source=.;initial catalog=QLTNET;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="CoSoDuLieuTiemNet2" connectionString="data source=.;initial catalog=QLTNET;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="CoSoDuLieuTiemNet3" connectionString="data source=.;initial catalog=LTTQ_Lab4_BT7_S4;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="CoSoDuLieuTiemNet4" connectionString="data source=.;initial catalog=QLTNET;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="CoSoDuLieuTiemNet5" connectionString="data source=.;initial catalog=QLTNET;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="TieuLuanQuanNet.Properties.Settings.QLTNETConnectionString" connectionString="Data Source=.;Initial Catalog=QLTNET;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="CoSoDuLieuTiemNet6" connectionString="data source=.;initial catalog=QLTIEMNET;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="TieuLuanQuanNet.Properties.Settings.QLTIEMNETConnectionString" connectionString="Data Source=.;Initial Catalog=QLTIEMNET;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="CoSoDuLieuTiemNet7" connectionString="data source=.;initial catalog=QLTIEMNET;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="CoSoDuLieuTiemNet8" connectionString="data source=.;initial catalog=QLTIEMNET;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>